order-api/src/main/mule/order-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="716ea572-a29a-4b4e-a83a-cd2dde529d82" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="order-apiFlow" doc:id="24a0f0f3-d0f2-44ec-b5c8-9956527c1726" >
		<http:listener doc:name="Listener" doc:id="048ad27d-3045-4b2a-a0e2-97a4b9672499" config-ref="HTTP_Listener_config" path="/api/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf909d06-f412-492b-afc2-e07c9fbb1cbc" message='#["======================= Logger started ======================="]'/>
		<ee:transform doc:name="Transform Message" doc:id="73dc5755-a0ab-4c4a-8d04-ead70751e197" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message" : "Success"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
